
body {
  background-color: #17a2b8;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.jumbotron{
  background-color: #17a2b8;
}

.container{
  color: white;
}
